<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>課題1</title>
<style>
h1 {
	font-size: 18pt;
	font-weight: bold;
	color: gray;
}
body {
	font-size: 13pt;
	color: gray;
	margin: 5px 25px;
}
</style>
</head>
<body>
	<h1 >課題1</h1>
	<p th:text="${title}">タイトル</p>
	<form method="post" action="/kadai1/calc">

		<label>値1<input type="text" name="value1" th:value="${value1}" /></label><br>
		<label>値2<input type="text" name="value2" th:value="${value2}" /></label><br>
		<input type="submit" value="計算" />
	</form>
	<p>計算結果:<span th:text="${result}"></span></p>
</body>
</html>