<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>課題1</title>
<style>
h1 {
	font-size: 18pt;
	font-weight: bold;
	color: gray;
}
body {
	font-size: 13pt;
	color: gray;
	margin: 5px 25px;
}
</style>
</head>
<body>
	<h1 >課題1</h1>
	<p th:text="${title}">タイトル</p>
	<form method="post" >
		<label><input type="text" name="value1" th:value="${value1}" />値1</label><br>
		<label><input type="text" name="value2" th:value="${value2}" />値2</label><br>
		<label><input type="submit" value="計算"></label>
	</form>
	<p th:text="${result}">計算結果</p>
</body>
</html>