　<!DOCTYPE html>
<html>
<head lang="ja" xmlns:th="http://www.thymeleaf.org" >
	<meta charset="UTF-8">
	<title>Favorite Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<!-- JQueryなど使いたいとき用 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
	<h1>お気に入りの、漫画アニメ</h1>
	<p th:text="#{content.title}">登録済みの本を検索できます。</p>
	<details>
		<summary th:text="#{content.message}">詳細。</summary>
		<form id="insertForm" action="/addData" method="get">
			<input type="text" name="title" placeholder="漫画アニメのタイトル" />
			<input type="number" name="value" placeholder="発行巻数" />
			<input type="text" name="recommend" placeholder="おしの理由" />
			<select name="isFinished">
				<option  th:text="#{content.mngAnm.isFinished}" value="true"></option>
				<option  th:text="#{content.mngAnm.isUnless}" value="false"></option>
			</select>
			<input type="number" name="janle" placeholder="ジャンル：リストより番号を入力ください" />
			<input id="insertBtn" type="button" th:onclick="insertData();" th:attr="value=#{content.btn.submit}"/>
		</form>
	</details>
	<hr/>
	<div class="container-fulid">
		<div class="row">
			<div class="col">
				<p th:text="#{content.categoryTitle}">カテゴリ一覧。</p>
				<table>
					<tr>
						<th th:txt="#{content.categoryId}">ID</th>
						<th th:txt="#{content.categoryName}">名</th>
						<th th:txt="#{content.isParent}">親カテゴリ</th>
					</tr>
					<tr th:each="obj:${categories}">
						<td th:text="${obj.categoryId}"></td>
						<td th:text="${obj.categoryName}"  data-toggle="tooltip" data-placement="top" th:attr="title=${obj.discription}" ></td>
						<td th:text="${obj.isParent}"></td>
					</tr>
				</table>
			</div>
			<div class="col">
				<p th:text="#{content.mngAnmTitle}">漫画アニメ一覧。</p>
				<form id="tableForm" method="post" th:action="@{/delete}"  th:object="${indexDto}">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col" th:text="#{content.mngAnm.id}">ID</th>
								<th scope="col" th:text="#{content.mngAnm.title}">名</th>
								<th scope="col" th:text="#{content.mngAnm.value}">巻</th>
								<th scope="col" th:text="#{content.mngAnm.recommend}">説明</th>
								<th scope="col" th:text="#{content.mngAnm.isFinished}">説明</th>
								<th scope="col" th:text="#{content.mngAnm.janle}">ジャンル</th>
							</tr>
						</thead>
						<tr th:each="mng, stat: *{mngAnmList}">
							<td scope="row" >
								<input type="checkbox" name="check"
									th:field="*{checkList[__${stat.index}__]}"
									th:id="${mng.getMngAnmId()}" />
							</td>
							<td th:text="${mng.getMngAnmId()}" th:field="${mng.getMngAnmId()}"></td>
							<td th:text="${mng.getTitle()}"></td>
							<td th:text="${mng.getValue()}"></td>
							<td th:text="${mng.getRecommend()}"></td>
							<td th:if="${mng.getIsFinished()}">完結</td>
							<td th:unless="${mng.getIsFinished()}">継続中</td>
							<td th:text="${mng.getCateg().getCategoryName()}"></td>
							<td style="display:none;" >
								<input type="hidden" th:field="*{mngAnmList[__${stat.index}__].mngAnmId}" />
							</td>
						</tr>
					</table>
					<input type="submit" th:attr="value=#{content.btn.delete}" />
				</form>
			</div>

		</div>
	</div>


</body>
</html>